@media (max-width: 768px){
  article {
    width: 75%;
    .container .timer {
      font-size:1.5rem;
    }
  }
  h2, h3, button {
    margin-bottom: 10px;
  }
  h2 {
  	font-size: 1.5rem;
  	line-height: 1.4;
  }
  h3 {
  	font-size: 1.3rem;
  	line-height: 1.3;
  }

  button {
    width: 85%;
    display: block;
    margin: 10px auto;
    color: $accent;

    p {
      font-size: .9rem;
    }
  }
}

@media (max-width: 625px){
  .nav-desktop {
    display: none;
  }
  .nav-mobile{
    display: block;
  }

  h2, h3, button {
    margin-bottom: 5px;
  }
  article {
    width:85%;
    // top:10%;
  }
}
