.nav-desktop {
  // height: 50px;
  background:$secondary;
  ul {
    text-align: center;
    padding: 10px;
    li {
      display: inline-block;
      a {
        margin: 10px;
        line-height: 1.6;
        border-bottom: 2px solid transparent;
      }
      a:hover {
        padding-bottom: 2px;
        border-bottom-color: $accent;
      }
    }
  }
}

.nav-mobile {
	background:$secondary;
	text-align:center;
	display: none;
	ul {
		text-align: center;
		display: none;
		padding-bottom: 15px;
		li{
			a{
				display: block;
				padding: 7px 0;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}
.toggle {
	font-family:'Conv_ParryHotter',Sans-Serif;
	padding: 10px 0;
  cursor: pointer;
}
