<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Potter</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

    <!--Favicon  -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>

    <header>
      <h1>Harry Potter</h1>
      <div class="nav-desktop">
        <ul>
          <li><a href="http://www.atlasandboots.com/earths-most-remote-places/" target="_blank">Evade the Ministry</a></li>
          <li><a href="http://www.wikihow.com/See-Ghosts" target="_blank">Ghost Chasing</a></li>
          <li><a href="http://www.storypick.com/mind-reading-techniques/" target="_blank">Mind Reading Class</a></li>
          <li><a href="http://www.trivianation.com/the-10-most-common-trivia-questions/" target="_blank">Muggle Trivia</a></li>
          <li><a href="http://www.wikihow.com/Be-Polite" target="_blank">How to Talk to a Squib</a></li>
          <li><a href="https://www.ncdot.gov/dmv/" target="_blank">Send an Enemy to Azakaban</a></li>
          <li><a href="http://www.realtor.com/" target="_blank">Tour a Muggle Home</a></li>
        </ul>
      </div>
      <div class="nav-mobile">
        <div class="toggle">Popular Links for Wizards</div>
        <ul class="show-toggle">
          <li><a href="#">Avade the Ministry</a></li>
          <li><a href="#">Ghost Chasing</a></li>
          <li><a href="#">Mind Reading Class</a></li>
          <li><a href="#">Muggle Trivia</a></li>
          <li><a href="#">Potion Crash Course</a></li>
          <li><a href="#">Send An Enemy to Azakaban</a></li>
          <li><a href="#">Tour a Muggle Home</a></li>
        </ul>
      </div>
    </header>

    <article>
      <div class="container">
        <div class="quiz-container">
          <h2>Test Your Knowledge</h2>
          <h3>Once you start you can't turn back!</h3>
          <button><a href="questions.html">Accio Quiz</a></button>
        </div>
      </div>
    </article>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
